<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>グレースケールの研究</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-size@1"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div id="option">
      <div class="btn" ontouchstart="" @click="onClickRandomImageButton">ランダム画像</div>
      <div>
        <div class="btn" ontouchstart="" @click="onClickFileButton">ファイルを選択</div><span style="margin-left: 8px;">{{fileName}}</span>
      </div>
      <input ref="fileInput" type="file" @change="onChangeFile">
      <div id="medhod-option">
        <label for="unprocessed">無加工</label>
        <input id="unprocessed" type="checkbox" v-model="isSelected.unprocessed">
        <label for="average-method">平均法</label>
        <input id="average-method" type="checkbox" v-model="isSelected.averageMethod">
        <label for="weighted-average-method">加重平均法</label>
        <input id="weighted-average-method" type="checkbox" v-model="isSelected.weightedAverageMethod">
        <label for="luminosity-method">輝度法</label>
        <input id="luminosity-method" type="checkbox" v-model="isSelected.luminosityMethod">
      </div>
    </div>
    <div id="processing" v-show="isProcessing">処理中…</div>
    <div v-show="!isProcessing">
      <div id="error" v-if="errorMessage !== ''">{{errorMessage}}</div>
      <template v-else>
        <div class="result" v-show="isSelected.unprocessed">
          <div class="method-name">無加工</div>
          <canvas ref="unprocessedCanvas"></canvas>
        </div>
        <div class="result" v-show="isSelected.averageMethod">
          <div class="method-name">平均法</div>
          <canvas ref="averageMethodCanvas"></canvas>
        </div>
        <div class="result" v-show="isSelected.weightedAverageMethod">
          <div class="method-name">加重平均法</div>
          <canvas ref="weightedAverageMethodCanvas"></canvas>
        </div>
        <div class="result" v-show="isSelected.luminosityMethod">
          <div class="method-name">輝度法</div>
          <canvas ref="luminosityMethodCanvas"></canvas>
        </div>
      </template>
    </div>
  </div>

  <script src="main.js"></script>
</body>
</html>