
#app {
  user-select: none;
  font-size: 1.1rem;
}

button, input {
  font-size: 1.1rem;
}

#option > *:not(:first-child) {
  margin-top: 4px;
}

input[type="file"] {
  display: none;
}

.btn {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid mediumblue;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: mediumblue;
  background-color: white;
  text-align: center;
}

.btn {
  transition: background-color 0.2s;
}

@media screen and (width > 480px) {
  .btn:hover {
    background-color: lightcyan;
  }
}

@media screen and (width <= 480px) {
  .btn:active {
    background-color: lightcyan;
  }
}

#medhod-option label:not(:first-of-type) {
  margin-left: 8px;
}

#processing {
  margin-top: 8px;
  font-size: 1.4rem;
}

#error {
  margin-top: 8px;
  font-size: 1.4rem;
  color: red;
}

#result-container {
  display: flex;
  margin-top: 8px;
  flex-wrap: wrap;
  column-gap: 8px;
}

.method-name {
  font-size: 1.4rem;
  font-weight: bold;
}

canvas {
  width: 100%;
}
