
#app {
  user-select: none;
  font-size: 1.1rem;
}

button {
  font-size: 1.1rem;
}

#option > *:not(:first-child) {
  margin-top: 4px;
}

#medhod-option label:not(:first-of-type) {
  margin-left: 8px;
}

.result {
  margin-top: 8px;
}

.method-name {
  font-size: 1.4rem;
  font-weight: bold;
}

canvas {
  width: 100%;
}
